body {
    background: #ffcdb2;
}
p{
    opacity: 0.9;
}

.color-div{
    background: #255f85;
}
.card-project:hover {
    border: 2px solid #000000;
    cursor: pointer;
}

img {
    padding: 10px; 
    object-fit: cover;
    opacity: 0.8;
    border-radius: 20px 20px 20px 20px;
}

.cat {
    height: 100%;
    width: 100%;
}

#div-foto{
    margin:auto;
    display:block;
}

#div-foto>img{
    height: 100%;
    width: 100%;
} 

#navbar{
    background: #255f85;    
}

.contenedor-gigante{
    background: #255f85;
    
}

#div-items{
    background: #255f85;
}


#div-pres{
    background: #255f85;
    flex-wrap: wrap;
    display: flex;
    border-radius: 20px 20px 20px 20px;
}

#parr-projects{
    background: #255f85;
    border-radius: 20px 20px 20px 20px;
}

#div-projects{
    border-radius: 20px 20px 20px 20px;
    padding: 10px;
    text-align: center;
}

#div-header{
    border-radius: 20px 20px 20px 20px;
    background: #255f85;
}

#imagen{
    border-radius: 20px 20px 20px 20px;
}

