{% extends 'layout.html' %}
{% block content %}
{% load static %}

<div class="text-center text-align-center" id="contenedor-sect">
    <section class="presentacion-sect">
        <div  id="div-header">
            <header id="presentacion" class="row" id="div-pres ">
                <div class="class col-md-4", id="div-foto">     
                    <img id="imagen" src="{% static 'portfolio/unnamed.jpg' %}" alt="" class="">    
                </div>
                <div class="class col-md-8 my-auto">
                    <h1><strong>Julian Decoppet</strong></h1>
                    <h3>Python FullStack Developer</h3>
                </div>
            </header>
        </div>
        <div class="">
            <a href="#section-about" class="btn btn-outline-info"><i class="bi bi-arrow-down"></i></a>
        </div>
    </section>
    <section class="about-sect" id="section-about">
            <div class="row justify-content-center" id="row-div">
                <div class="col about-div text-left ">
                    <h2 class="display-3">About Me!</h2>
                    <div class="about-text">
                        <p class="text-right">Actualmente me encuentro estudiando una carrera de nivel terciario en "Desarrollo de software"</p> 
                    </div>
                </div>
                <div class="col tecnologias-div">
                    <h2 class="title-tec display-3">Tecnologías</h2>
                    <div class="tecnologias-text">
                        {% for tecnologia in tecnologias %}
                        <li><img src="{{tecnologia.image.url}}" alt="img-icon"></li>
                        
                        {% endfor %}  
                    </div>
                </div>
            </div>
    </section>
    <section class="projects-sect" id="section-projects">
        <div class="row my-4 text-center">
            <div id="parr-projects">
                <h3 class="display-3">My projects</h3>
                    <div id="proyectos" class="" id="div-projects">
                        {% for project in projects %}               
                            <div class="proyecto", id="div-items">
                                <div class="cat">
                                    <img src="{{project.image.url}}" alt="{{project.title}}" class="img-icon">
                                </div>        
                                <div class="card-body">
                                    <h2>{{project.title}}</h2>
                                    <p>{{project.description}}</p>
                                    {% if project.url %}
                                    <a href="{{project.url}}" class="btn btn-outline-info" target="_blank">{{project.url}}</a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
            </div>    
        </div>
    </section>
</div>

{% endblock %}